@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@font-face {
  font-family: "gta"; /*a name to be used later*/
  src: url("../assets/pricedow.ttf"); /*URL to font*/
}

body {
  position: relative;
  height: 100%;
  font-family: "Poppins" !important;
  background-color: black;
}
.logo {
  padding-top: 10px;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
}

.full-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.paragraph {
  font-weight: bold;
}
.btns {
  color: white;
  display: flex;
  text-decoration: none;
}

.text-wrapper {
  font-family: "Open Sans";
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 20px;
  max-width: 60ch;
  align-self: flex-start;
  margin-top: 10%;
  margin-left: 10px;
}

.button-design{
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 10px;
}

.btnss {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left:40%;
  /* Clean style */
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #e4512c;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btnss::before,
.btnss::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
  align-items: center;
  justify-content: center;
}

.btnss::before {
  top: 0;
  border-bottom-width: 0;
  align-items: center;
  justify-content: center;
}

.btnss::after {
  bottom: 0;
  border-top-width: 0;
  align-items: center;
  justify-content: center;
}

.btnss:active,
.btnss:focus {
  outline: none;
}

.btnss:active::before,
.btnss:active::after {
  right: 3px;
  left: 3px;
}

.btnss:active::before {
  top: 3px;
}

.btnss:active::after {
  bottom: 3px;
}

.btnss__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btnss__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  align-items: center;
  justify-content: center;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btnss__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btnss__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
  align-items: center;
  justify-content: center;
}

.btnss__content {
  position: relative;
  align-items: center;
  justify-content: center;
}

.btnss:hover {
  color: var(--button-text-color-hover);

}

.btnss:hover .btnss__slide {
  width: calc(100% + 15px);
}

.btnss:hover .btnss__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btnss--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  padding: 0px 10px;

}

.btn-1:hover {
  text-decoration: underline;
}
.btn-2 {
  padding: 0px 10px;
}
.btn-2:hover {
  text-decoration: underline;
}
.btn-3 {
  padding: 0px 10px;
}
.btn-3:hover {
  text-decoration: underline;
}
.btn-4 {
  padding: 0px 10px;
}
.btn-4:hover {
  text-decoration: underline;
}
.btn-5 {
  padding: 0px 10px;
}
.btn-5:hover {
  text-decoration: underline;
}
.buy {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px 10px;
}
.hero-1 {
  background: url("../assets/1280x720_grand-theft-auto-grand-theft-auto-online-gta-5.jpg");
  object-fit: cover;
  background-size: cover;
  height: 100vh !important;

  overflow-x: hidden;
}

.hero-pic {
  transition: transform 0.8s;
}
.hero-pic:hover {
  transform: scale(1.8);
}

.hero-2 {
  background: url("../assets/thumb-1920-553248.jpg");
  object-fit: cover;
  background-size: cover;
  height: 100vh !important;
}
.hero-3 {
  background: url("../assets/thumb-1920-587526.jpg");
  object-fit: cover;
  background-size: cover;
  height: 100vh !important;
}
.hero-4 {
  background: url("../assets/thumb-1920-553248.jpg");
  object-fit: cover;
  background-size: cover;
  height: 100vh !important;
}
.hero-5 {
  background: url("../assets/wp5334088-gta-5-4k-wallpapers.jpg");
  object-fit: cover;
  background-size: cover;
  height: 100vh !important;
}
hero-4 .hero-txt {
  font-family: "gta";
  font-size: 60px;
  position: absolute;
  position: absolute;
  top: 50% !important;
  left: 40%;
  color: white;
  outline: black;
}
.hero-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60vh;
}
.scroll-text {
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
  font-family: "Poppins";
}
