@font-face {
  font-family: "gta"; /*a name to be used later*/
  src: url("../assets/pricedow.ttf"); /*URL to font*/
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("../assets/bg.svg");
  object-fit: cover;
  background-size: cover;
  height: 100%;
}

nav {
  clip-path: polygon(
    0 0,
    /* left top */ 100% 0,
    /* right top */ 100% 100%,
    /* right bottom */ 0 90% /* left bottom */
  );
}

.hero-txt {
  font-family: "gta";
  font-size: 60px;
  position: absolute;
  position: absolute;
  top: 50% !important;
  left: 40%;
  color: white;
  outline: black;
}
